@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');




* {
    font-family:poppins;

}

nav {
    margin-top: 20px;
}

.navbar-brand {
    font-weight: 500;
    
}

.project {
    max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.date {
    color: rgb(126, 122, 122);
}

form {
    margin-top: 50px;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 30px;
    justify-items: center;
  }
  
  .icon {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon i {
    font-size: 50px;
    color: #b8b5b5;
    position: relative;
  }

  .icon i::after {
    content: attr(title);
    background-color: #4e3cb5;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 110%;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  }
  
  .icon i:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-5px);
  }
  