@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');




* {
    font-family:poppins;

}

nav {
    margin-top: 20px;
    
}



.navbar-brand {
    font-weight: 500;
    
}

.project {
    max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.date {
    color: rgb(126, 122, 122);
}

form {
    margin-top: 50px;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 30px;
    justify-items: center;
  }
  
  .icon {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon i {
    font-size: 50px;
    color: #908c8c;
    position: relative;
  }

  .icon i::after {
    content: attr(title);
    background-color: #4e3cb5;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 110%;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  }
  
  .icon i:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-5px);
  }
  
td {
  text-align: center;
}

a:link {
  color: black;
}

p.technologies {
  display:inline-block;
   text-align: justify;
    text-justify: inter-word;
     padding:4px 10px 2px 10px;
      background-color: rgb(233, 233, 228);
       color: rgb(77, 77, 77); 
       border-radius: 6px;
       border: 1px solid rgb(219, 217, 217);

}

a.email {
  display:inline-block;
  text-align: justify;
   text-justify: inter-word;
    padding:4px 10px 2px 10px;
    background-color: rgb(247, 247, 242);
    color: rgb(77, 77, 77); 
      border-radius: 6px;
      border: 1px solid rgb(236, 235, 235);
      transition: 0.3s;
}

a.email:link {
  text-decoration: none;
}

a.email:hover { 
  background-color: rgb(157, 197, 173);
}

a.linkedin {
  display:inline-block;
  text-align: justify;
   text-justify: inter-word;
    padding:4px 10px 2px 10px;
    background-color: rgb(247, 247, 242);
    color: rgb(77, 77, 77); 
      border-radius: 6px;
      border: 1px solid rgb(236, 235, 235);
      transition: 0.3s;
}

a.linkedin:link {
  text-decoration: none;
}

a.linkedin:hover { 
  background-color: rgb(157, 157, 252);
}

a.github {
  display:inline-block;
  text-align: justify;
   text-justify: inter-word;
    padding:4px 10px 2px 10px;
    background-color: rgb(247, 247, 242);
    color: rgb(77, 77, 77); 
      border-radius: 6px;
      border: 1px solid rgb(236, 235, 235);
      transition: 0.3s;
}

a.github:link {
  text-decoration: none;
}

a.github:hover { 
  background-color: rgb(203, 153, 250);
}

a.cv {
  display:inline-block;
  text-align: justify;
   text-justify: inter-word;
    padding:4px 10px 2px 10px;
    background-color: rgb(247, 247, 242);
    color: rgb(77, 77, 77); 
      border-radius: 6px;
      border: 1px solid rgb(219, 217, 217);
      transition: 0.3s;
}

a.cv:link {
  text-decoration: none;
}